.ticket-container{
    width: 800px;
    height: 300px;
    margin: 50px auto;
    border-radius: 20px;
    display: flex;
    font-family: sans-serif;
}
.user-part{
    width: 40%;
    border-radius: 20px;
    box-shadow: 0 0 15px 2px rgba(0,0,0,0.5);
    border: 2px solid #737373;
    border-right:none;
    padding-left: 20px;
    background-color: #ffeee6;
}    
.event-part{
        width: 60%;
        border-radius: 20px;
        box-shadow: 0 0 15px 2px rgba(0,0,0,0.5);
        border: 2px solid #737373;
        border-left: dashed;
        padding-left: 20px;
        background-color: #ffeee6;
}
.ticket-number{
    font-family: 'Courier New', Courier, monospace;
    padding-left: 20px;
}
.event-title{
    font-size: 23px;
}
.img-pic{
    border-radius: 10px;
    height: 30%;
}
.time{
    padding-left: 50%;
}
.head{
    .event-logo{
        height: 50px;
        padding-top: 7px;
        border-radius: 10px;
    }
}

/* Mobile */
@media (max-width:600px){
    .ticket-container{
        flex-direction: column;
        align-items: center;
        height: auto;
        width: auto;
}
.user-part{
    width: 400px;
    border-right: solid;
    border-bottom: none;
}
.event-part{
    width: 400px;
    border-top: dashed;
    border-left: solid;
    height: 300px;
}
.event-title{
    font-size: 18px;

}
.event-logo{
    height: 100px;
}
.img-pic{
    height: 100px;
}
}